<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Timestamp</th><!--name in db: timestamp-->
                <th>Age</th><!--name in db: age-->
                <th>Gender</th><!--name in db: gender-->
                <th>Origin</th><!--name in db: origin-->
                <th>Relationship Status</th><!--name in db: relationshipStatus-->
                <th>Occupation</th><!--name in db: occupation-->
                <!-- Organizations is in a different table than the surveys table. Should we stil display this? Probably yes since it's part of the original survey?? -->
                <th>Affiliated Organizations</th>
                <th>Social Media User?</th><!--name in db: mediaUser-->
                <!-- Platforms is in a different table than the surveys table though. Should we stil display this? Probably yes since it's part of the original survey?? -->
                <th>Platforms Used</th>
                <th>Daily Social Media Usage</th><!--name in db: avgTime-->
                <th>How often SM are used without a purpose?</th><!--name in db: noPurpose-->
                <th>How often do SM distract you?</th><!--name in db: distractionFreq-->
                <th>Do you feel restless if you haven't used SM in a while?</th><!--name in db: restlessLvl-->
                <th>How easily distracted are you?</th><!--name in db: distractionSusceptability-->
                <th>How much are you bothered by worries?</th><!--name in db: botheredByWorries-->
                <th>How hard is it for you to concentrate?</th><!--name in db: difficultyConcentrating-->
                <th>How often do you compare yourself to others on SM?</th><!--name in db: comparisonFreq-->
                <th>How do you feel about these comparisons (prev. question)?</th><!--name in db: comparisonFeeling-->
                <th>How often do you look for validation on SM?</th><!--name in db: validationFreq-->
                <th>How often do you feel depressed or down?</th><!--name in db: depressionFreq-->
                <th>How frequently does your interest in daily activities fluctuate?</th><!--name in db: dailyInterestFluctuation-->
                <th>How often do you face sleep problems?</th><!--name in db: sleepProblemsFreq-->
                <th>Mental Health Score</th><!--name in db: mentalHealthScore-->
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < responses.length; i++) { %>
                <tr>
                    <td><%= responses[i].timestamp %></td>
                    <td><%= responses[i].age %></td>
                    <td><%= responses[i].gender %></td>
                    <td><%= responses[i].origin %></td>
                    <td><%= responses[i].relationshipStatus %></td>
                    <td><%= responses[i].occupation %></td>
                    <td><%= responses[i].mediaUser %></td>
                    <td><%= responses[i].avgTime %></td>
                    <td><%= responses[i].noPurpose %></td>
                    <td><%= responses[i].distractionFreq %></td>
                    <td><%= responses[i].restlessLvl %></td>
                    <td><%= responses[i].distractionSusceptability %></td>
                    <td><%= responses[i].botheredByWorries %></td>
                    <td><%= responses[i].difficultyConcentrating %></td>
                    <td><%= responses[i].comparisonFreq %></td>
                    <td><%= responses[i].comparisonFeeling %></td>
                    <td><%= responses[i].validationFreq %></td>
                    <td><%= responses[i].depressionFreq %></td>
                    <td><%= responses[i].dailyInterestFluctuation %></td>
                    <td><%= responses[i].sleepProblemsFreq %></td>
                    <td><%= responses[i].mentalHealthScore %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>